body {
    margin: 0;  

    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #6c7279;

    background-color: #fff;
    -webkit-font-smoothing: antialiased; /*не работает!!!*/
}

/*алгоритм подсчета размера блоков с учетом pading и т.д.*/
*,
*:before,
*:after {
    box-sizing: border-box; 
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0 0 10px;
}


/* Container
===================*/
.container {
    width: 100%;
    max-width: 1200px; /*было 1170 см. на 35 строку*/
    margin: 0 auto;

    padding: 0 15px; /*#3 ActiveBox - Верстка сайта с нуля для начинающих | HTML, CSS - 12:24 - ...*/
}


/* Header 
===================*/
.header {
    width: 100%;
    height: 100px;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header.fixed {
    height: auto;
    position: fixed;
    background-color: #2e314b;
}

.header.fixed .header__inner {
    padding: 15px 0;
    border-bottom: 0;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    padding: 35px 0;
    align-items: center;

    border-bottom: 1px solid #30324c;
}


/* Navigation 
===================*/
.nav {
    display: flex;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
}

.nav__link {
    margin-left: 50px;
    color: #fff;
    text-decoration: none;   
    opacity: 0.75; /*прозрачность шрифта*/

    transition: opacity 0.1s linear; /*плавный переход между прозрачностью 0.75 и 1*/
}

.nav__link:first-child {
    margin-left: 0;
}

.nav__link:hover {
    opacity: 1;
    text-decoration: overline;
}


/* Intro 
===================*/
.intro {
    display: flex;
    flex-direction: column; /*каждый нов.эл-т в блоке интро начинается с новой строки*/
    justify-content: center;

    height: 750px;
    padding-top: 100px; /*сверху отступили столько, сколько занимает шапка*/

    background: #2e314b /*если инет будет меделенный, то чтобы не было белого окна. Фон похож на оригинал*/
    url("../assets/images/intro_bg.jpg") center no-repeat;
    background-size: cover;
}


.intro__inner {
    width: 100%;
    max-width: 970px;
    margin: 0 auto;

    text-align: center;
}


.intro__title {
    margin: 0 0 30px;

    font-family: 'Open Sans' sans-serif;
    font-size: 65px;
    line-height: 1.1; /*43:20 - #1 ActiveBox - Верстка сайта с нуля для начинающих | HTML, CSS, уроки верстки*/
    font-weight: 700;

    text-transform: uppercase;
    color: #fff;
}

.intro__subtitle {
    margin-bottom: 60px;

    font-size: 22px;
    color: #fff;
    line-height: 1.5;
    font-weight: 400;
}


/* Button
===================*/
.btn {
    display: inline-block; /*Это значение генерирует блочный элемент, который обтекается другими элементами веб-страницы подобно встроенному элементу. Фактически такой элемент по своему действию похож на встраиваемые элементы (вроде тега <img>). При этом его внутренняя часть форматируется как блочный элемент, а сам элемент — как встроенный. */
    padding: 14px 40px;

    border-radius: 2px;
    border: 0;
    cursor: pointer;

    font-family: inherit; 
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    text-align: center;

    transition: background 0.1s linear;
}

.btn--red {
    background-color: #e84545;
}

.btn--red:hover {
    background-color: #dd1616;
}

.btn--long {
    min-width: 280px;
}


/* Features
===================*/
.features {
    display: flex;
    text-align: center;
    flex-wrap: wrap; /*переносим эл-т на новую строку, если не помещ-ся в контейнер*/
    margin: 95px 0;
}

.features__item {
    width: 33.3333%;
    padding: 0 40px; /*значит не всего 40, а у каждого эл-та отступ = 40*/
    margin: 25px 0;

    text-align: center;
}

.feature__title {
    margin: 30px 0;

    font-size: 14px;
    font-weight: 700;
    color: #2d3033;
    text-transform: uppercase;
}

.features__text {
    font-size: 14px;
    line-height: 1.5;
    color: #6c7279;
}


/* Works
===================*/
.works {
    display: flex;
    flex-wrap: wrap;
}


.work__item {
    width: 25%;
    height: 350px;
    position: relative;
    overflow: hidden; /*Свойство overflow управляет отображением содержания блочного элемента, если оно целиком не помещается и выходит за область заданных размеров. Значение hidden отображает только область внутри элемента, остальное будет скрыто.*/

    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;

    transition: transform .5s;
    cursor: pointer;
}

.work__item:hover,
.work__item:focus {
    transform: translateY(-5px);
}

.work__item:hover .works__content,
.work__item:focus .works__content {
    opacity: 1;
}

.works__photo {
    min-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;

    transform: translate3d(-50%, -50%, 0);
}


.works__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    width: 100%;
    height: 100%;
    position: absolute;

    background-color: rgba(232, 69, 69, 0.9);
    opacity: 0;

    top: 0; 
    left: 0;
    z-index: 2; 

    transition: opacity 0.2s linear;
}

.works__title {
    margin-bottom: 5px;

    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
}

.works__text {
    font-size: 14px;
    color: #fff; 
}


/* Team
===================*/
.team {
    margin: 100px 0 70px; 
}

.team__inner {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.team__item {
    width: 25%;
    padding: 0 15px;
    margin-bottom: 30px;
}

.team__photo {
    display: block;
    max-width: 100%;
    height: auto;
}

.team__name {
    margin: 20px 0 15px;
    font-size: 22px;
    color: #2d3033;
}

.team__prof {
    margin-bottom: 15px;

    font-size: 13px;
    color: #e84545;
    text-transform: uppercase;
}

.team__text {
    margin-bottom: 20px;

    font-size: 14px;
    line-height: 1.5;
    color: #6c7279;
}



/* Social
===================*/
.social {
    display: flex;
}

.social--footer {
    justify-content: center;
}

.social__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin-right: 4px;

    background-color: #fff;
    border: 1px solid #e8ecee;

    transition: background .1s linear;
}

.social__item:hover {
    background-color: #e8ecee;
}

.social__item:hover .social__icon {
    fill: #000;
}

.social--footer .social__item {
    background: transparent;
    border-width: 2px;
    border-color: #fff;
    border-radius: 2px;
}

.social--footer .social__item:hover {
    background-color: #fff;
}

.social__icon {
    display: block;
    height: 18px;

    fill: #c6cacc;

    transition: fill .1s linear;
}

.social--footer .social__icon {
    fill: #fff;
}



/* Testimonials
===================*/
.testimonials {
    overflow: hidden;
    background-color: #53354a;
}

.testimonials__slider {
    /* Для более корректной загрузки страницы */
    height: 500px;
    overflow: hidden;
}

.testimonials__slider.slick-initialized {
    height: auto;
}

.testimonials__item {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

.testimonial__photo {
    width: 50%;
    height: 500px;
    position: relative;
}

.review__photo {
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 1;

    transform: translateY(-50%);
}

.testimonial__content {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 50%;
    padding-left: 80px;
}

.testimonial__text {
    margin-bottom: 25px;

    font-family: 'Cardo', sans-serif;
    font-style: italic;
    font-size: 36px;
    line-height: 1.2;
    color: #fff;
}

.testimonial__author {
    font-size: 13px;
    width: 700px;
    text-transform: uppercase;
    color: #fff;
}

.slick-dots {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0 0 10px;
    list-style: none;
    width: 50%;

    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
}

.slick-dots li {
    margin: 0 5px;
}

.slick-dots button {
    width: 15px;
    height: 15px;
    padding: 0;

    background: #fff;
    border-radius: 50%;
    border: 0;
    opacity: .5;
    cursor: pointer;

    font-size: 0;
    color: transparent;
}

.slick-dots button:focus {
    outline: 0;
}

.slick-dots .slick-active button {
    opacity: 1;
}


/* Download
===================*/
.download {
    margin: 90px 0;

    text-align: center;
}

.download__title {
    font-size: 28px;
    color: #2d3033;
    font-weight: 300px;

    margin-bottom: 10px;
}

.download__text {
    margin-bottom: 30px;

    font-size: 13px;
    color: #2d3033;
    font-weight: 700px;
    text-transform: uppercase;
}


/* Footer
===================*/
.footer {
    background-color: #3a3e64;
}

.footer__inner {
    display: flex;
    flex-wrap: wrap;
    padding: 70px 0;
}

.footer__block {
    width: 33.3333%;
    padding: 0 15px;

    text-align: center;
}

.footer__title {
    margin-bottom: 10px;

    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}

.footer__adress {
    font-size: 14px;
    line-height: 1.5;
    font-style: normal;
    color: rgba(255, 255, 255, 0.5);
}

.footer__text {
    font-size: 14px;
    line-height: 1.5;
    color: rgba(255, 255, 255, 0.5);
}


/* Copyright
===================*/
.copyright {
    padding: 20px 0;
    background-color: #313454;
}

.copyright__text {
    text-align: center;

    font-size: 14px;
    line-height: 1.5;
    color: #808080;
}



/* Burger
===================*/
.btn-burger {
    display: none;
    padding: 9px 2px;

    background: none;
    border: 0;
    cursor: pointer;
}

.burger__item {
    display: block;
    width: 30px;
    height: 3px;
    
    background-color: #fff;
    
    font-size: 0;
    color: transparent;

    position: relative;
}

.burger__item:before, 
.burger__item:after {
    content: "";
    height: 100%;

    background-color: #fff;

    font-size: 0;
    color: transparent;

    position: absolute;
    left: 0;
    z-index: 1;
}

.burger__item:before {
    width: 30px;
    top: -8px;
}

.burger__item:after {
    width: 26px;
    bottom: -8px;
}



/* Media
===================*/
@media (max-width: 1300px) {
    /* Works */
    .work__item {
        width: 50%;
    }
}

@media (max-width: 991px) {

    /* Navigation */
    .nav {
        display: none;
        width: 100%;
        flex-direction: column;

        background-color: #31344e;
        text-align: right;

        position: absolute;
        top: 100%;
        right: 0;
    }

    .nav.show {
        display: flex;
    }

    .nav__link {
        padding: 9px 15px;
    }
    

    /* Burger */
    .btn-burger {
        display: block;
    }
    
    /* Intro */
    .intro__title {
        font-size: 40px;
    }

    /* Features */
    .features__item {
        width: 50%;
    }

    /* Team */
    .team__item {
        width: 50%;

        text-align: center;
    }

    .team__photo {
        margin-left: auto;
        margin-right: auto;
    }

    /* Social [under Team] */
    .social {
        justify-content: center;
    }

    /* Reviews/Testimonial */
    .testimonial__photo {
        width: 100%;
        margin: 15px 0 40px;
        overflow: hidden;
    }

    .testimonial__content {
        width: 100%;
        padding-left: 0;
        padding-bottom: 40px;
    }
}

@media (max-width: 767px) {
    /* Intro */
    .intro {
        height: auto;
        padding: 130px 0 30px;
    }    

    .intro__title {
        font-size: 30px;
    }

    .intro__subtitle {
        margin-bottom: 30px;

        font-size: 16px;
    }


    /* Features */
    .features {
        margin: 40px 0;
    }

    .features__item {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }

    /* Works */
    .work__item {
        width: 100%;
        height: 300px;
    }

    /* Team */
    .team {
        margin: 60px 0 30px;
    }

    .team__item {
        width: 100%;
    }

    /* Testimonials */
    .testimonial__text {
        font-size: 25px;
    }

    /* Btn */
    .btn--long {
        min-width: 260px;
    }

    /* Download */
    .download {
        margin: 50px 0;
    }

    .download__title {
        font-size: 24px;
    }

    /* Footer */
    .footer__inner {
        padding: 30px 0;
    }

    .footer__block {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 30px;
    }

    .footer__block:last-child {
        margin-bottom: 0;
    }
}

@media (max-width: 414px) {
    /* Testimonial */
    .testimonial__photo {
        right: -100px;
    }
}